<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vue1</title>
    <script src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .orange{
            background-color: orange;
        }
    </style>
</head>
<body>
    <!-- Tag for vue to find -->
    <div id="app">
        /* <!--<p v-text="king"></p>-->
        <!--<p v-show="king.length"></p>--> */
        /* <ul v-if="showKings"> */
        <ul v-bind:class="{orange: newKingAlreadyExists}">
            <li v-for="king, index in kings" v-bind:key="index">
                {{king}}

            </li>
        </ul>
        <input type="text" v-model="newKing"/>
        <button v-on:click="addKing">Dags för ny kung</button>
    </div>


</body>
</html>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            kings: [
                "Gustav III",
                "Karl XII",
                "Gustav II Adolf"
            ],
            showKings: true,
            newKing: "",
            newKingAlreadyExists: false
        },
        // connects to input and button
        methods: {
            addKing: function (){
                if(this.kings.includes(this.newKing)){
                    newKingAlreadyExists = true;
                    return;
                }
               
                this.kings.push(this.newKing);
                
            }
        }
    })
</script>