<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Vue2</title>
        <script src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
               
                <!-- <ul v-if="showComposers"> -->
                <ul v-if="showNewValue">
                    <li v-for="composer in composers">
                        {{composer}}
                    </li>
                </ul>
                <input type="text" v-model="newComposer">
                <button v-on:click="addComposer">Add new composer</button>


        </div>
        
        
    </body>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                composers: [
                "Mozart",
                "Bach",
                "Rachmaninov"
                ],
                instrument: "Piano",
                // showComposers: false,
                newComposer: "", 
                newValue: 5
            },
            methods: {
                addComposer: function(){
                    this.composers.push(this.newComposer);
                },
                showNewValue: function(){
                    if(newValue < 0)
                    instrument: "Piano"
                    return;
                } 

            }
        })
    
    </script>



</html>