<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Vue2</title>
        <script src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
                .orange{
                    background-color: rgb(255, 0, 191);
                }
            </style>
    </head>

    <body>
        <div id="app">
               
                <!-- <ul v-if="showComposers, composers > 0"> -->
            <h1 v-once>{{title}}</h1>
                <ul v-bind:class="{orange:orangeIsCool}">
                    <li v-for="composer in composers">
                        {{composer}}
                    </li>
                </ul>
                <input type="text" v-model="newComposer">
                <button v-on:click="addComposer">Add new composer</button>
                <br>
                <button v-on:click="say('Hej!!')">Säg Hej</button>


        </div>
        
        
    </body>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                composers: [
                "Mozart",
                "Bach",
                "Rachmaninov"
                ],
                
                showComposers: false,
                newComposer: "", 
                title: "List of composers",
                orangeIsCool: false

                
            },
            methods: {
                addComposer: function(){
                    this.composers.push(this.newComposer);
                    if(this.composers.length > 3){
                        this.orangeIsCool = true;
                    }
                },
                say: function(message){
                    alert(message)
                }

               

            }
        })
    
    </script>



</html>